<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>BUGWATCH</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
        <style>
            .button {
                background-color: gold;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>

    <body style="background-color: #222533; padding: 20px; font-size: 14px; line-height: 1.43; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;">
    
        <div style="max-width: 600px; margin: 0px auto; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
        
            <div style="padding: 10px 30px; border-top: 1px solid rgba(0,0,0,0.05);">
                
                <div style="color: #636363; font-size: 14px;">
                    <h1 style="text-align:center;">
                        BUGWATCH WELCOMES YOU
                    </h1>
                    <p>
                        Dear {{username.capitalize()}},<br/><br/>
                        I'm thrilled you've decided to join us and can't wait for you toget started.The application is designed to make debugging and troubleshooting easier for everyone.
                    </p>

                    <p>
                        I encourage you to explore the application as I'm confident it will make your development process more efficient. But first, a confirmation of your email is required.
                    </p><br/>

                    <p>
                        Kindly click the button below to confirm your email address
                        <p style="text-align:center;"><button class="button">
                            <a href={{activation_link}} style="text-decoration:none; color:#000000;">Verify Email</a>
                        </button></p> <br/>
                        <p>Alternatively, you can paste the following link in your browser's address bar:</p>
                        <p>{{ activation_link }}</p>
                    </p><br/>

                    <p>If you do not recognize this email please ignore.</p>
                    
                    <p>
                        Keep Debugging,<br/>Amaechi.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>