.homeWelcome, .signUp{
    background-color: inherit;
    min-height: 500px;
    font-family: "lucida-calligraphy";
    align-items: center;
    color:#fff;
}

.input-group-text{
    color:#000;
    border:none;
}

.form-control{
    caret-color: orangered;
}

#welcomeMessage, #signUpHeader, .navbar-brand{
    color:#E1E2EF;
}

/* Signup styles*/
#emailFeedback{
    color:greenyellow;
}



/* Dashboard Styles*/

.quickDashboardLinks{
    text-decoration: none;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
}

#dashboardNav{
    border-right:1px solid gold;
}

.dashboardInfo{
    border-right:1px solid gold;
}

.dashboardInfo h4{
    color:gold;
}


/* View project and project bugs Styles*/
.table{
    color:#fff;
    font-size: 13px;
}

hr{
    height:7px;
    background-color: gold;
}
.specificProjectDetails, .specificProjectBugsDetails{
    color:#ffffff;
}

/* error styling*/
.error404{
    background-color: inherit;
    min-height: 450px;
    font-family: "lucida-calligraphy";
    align-items: center;
    color:grey;
}

/*Message Side*/
#messageSection{
    color:#fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
#messageSentByMe{
    color:#fff;
    border:1px solid gold;
    border-radius:30px;
    font-size:13px;
}
#messageSentByMeTimeStamp{
    line-height: 0px;
}

#messageSentByThem{
    color:#fff;
    border:1px solid grey;
    border-radius:30px;
    font-size:13px;
}
#messageSentByThemTimeStamp{
    line-height: 0px;
}

#profileHorizontalLine{
    height:1px;
    background-color: #05204a;
}