.homeWelcome, .signUp, .dashboardlinks{
    background-color: inherit;
    min-height: 500px;
    font-family: "lucida-calligraphy";
    align-items: center;
    color:#fff;
}

.input-group-text{
    color:#000;
    border:none;
}

.form-control{
    caret-color: red;
}

#welcomeMessage, #signUpHeader, .navbar-brand{
    color:#E1E2EF;
}

/* Signup styles*/
#emailFeedback{
    color:greenyellow;
}



/* Dashboard Styles*/

.quickDashboardLinks{
    text-decoration: none;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
}

#dashboardNav{
    border-right:1px solid gold;
}

.dashboardInfo{
    border-right:1px solid gold;
}

.dashboardInfo h4{
    color:gold;
}

Link:hover{
    background-color: gold;
}

/*New Project*/